.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#homephoto {
  background-image: url("./assets/images/patrick-tomasso-GXXYkSwndP4-unsplashdarkened.jpg");
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  opacity: 150;
}

#brunch {
  background-image: url("./assets/images/brunch.jpg");
  background-size: cover;
  height: 85vh;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  opacity: 150;
  animation-delay: 7s;
  animation-name: brunch;
}

#brunchdate {
  background-image: url("./assets/images/brunch.jpg");
  background-size: cover;
  height: 70vh;
  border-color: #343a40;
}

@keyframes brunch {
  from {
    visibility: hidden;
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#welcome {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

#icons {
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  background-color: #343a40;
  background-size: cover;
  height: 85vh;
}

#textimage {
  max-width: 40%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #343a40;
}
.iconText {
  color: #c3ddf7;
  margin-right: 10%;
  margin-left: 10%;
  font-family: "Amatic SC";
  font-size: 25pt;
  text-align: center;
}
#slide {
  background-color: #343a40;
  height: 85vh;
}

.btn-success {
  background-color: #9ae6ff !important;
  border-color: #9ae6ff !important;
  color: #282c34 !important;
  width: 100%;
}

.btn-secondary {
  width: 100%;
  margin-bottom: 8pt !important;
}

#startbutton {
  width: 15pc;
  margin-top: 10pc;
  margin-bottom: 2pc;
  animation: brunch;
}
.start {
  display: flex;
  justify-content: center;
  background-color: #343a40;
  height: 85vh;
}

@media screen and (max-width: 575px) {
  #icons {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 0%;
  }
  .start {
    display: flex;
    justify-content: center;
    background-color: #343a40;
  }

  .icon {
    height: 75px !important;
    width: 75px !important;
    margin-top: 20%;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 50%;
  }
  #brunchdate {
    background-image: url("./assets/images/brunchvertical.png");
    height: 65vh;
    background-color: #343a40;
    border-color: #343a40;
  }

  #textimage {
    max-width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #343a40;
    padding-top: 10%;
  }
}
