:root {
  background-color: #343a40;
}
#aboutBox {
  height: 80vh;
  color: white;
}
#restaurantCards {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#t {
  color: #9bcfe0;
  font-family: "Amatic SC";
  font-size: 50pt;
}

#b {
  color: #e76f3d;
  font-family: "Amatic SC";
  font-size: 50pt;
}

.steps {
  text-align: left !important;
  padding-left: 10%;
  padding-bottom: 5%;
}
#eventdiv {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

#myEventButtons {
  margin: 4pt;
}
.card-body {
  padding-bottom: 0 !important;
}
.card {
  flex-direction: row !important;
  margin-bottom: 10px;
}

#event {
  width: 75%;
  height: 50% !important;
  background-color: rgb(231, 231, 231);
  justify-content: center;
  padding-top: 10;
  border: 10px;
  margin-bottom: 100px;
}

#thanks {
  padding: 10rem;
  color: white !important;
  border-top: 5px;
  border-bottom: 5px;
}

#form {
  max-width: 99% !important;
  box-sizing: content-box;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
}

#paragraph,
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

#eventheader {
  text-align: center;
  padding-top: 2pc;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

#goBack {
  display: block;
  text-align: center;
  padding-top: 2pc;
  margin: auto;
}
footer {
  background: rgba(20, 30, 34);
  width: 100%;
  opacity: 70%;
  position: fixed;
  padding: 20px 20px;
  bottom: 0;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#cardheader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttondiv {
  display: flex;
  -webkit-box-flex-group: row;
  justify-content: center;
}

#eventsheader {
  color: white;
  border-top: 5px;
  border-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#invitebutton {
  padding: 0.5rem 0.5rem !important;
}

#longanswer {
  height: 100px;
}

li {
  text-align: left !important;
}
@media screen and (max-width: 575px) {
  #searchformelements {
    width: 75%;
    margin: auto;
  }

  #searchbutton {
    margin: auto;
  }

  h1 {
    font-size: 2rem !important;
  }

  h5 {
    font-size: 1rem !important;
    margin: 1pc;
  }

  #restaurantCards {
    width: 75% !important;
  }

  .card {
    display: block !important;
    width: 100% !important;
  }

  #makebutton {
    width: 20pc;
  }

  .form-control-lg {
    font-size: 1rem !important;
  }
}
