#nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

h3 {
  color: white;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}
